<div class="footer">
    <div class="container-fluid">
        <ul class="list-inline">
            <li class="list-inline-item">ABOUT</li>
            <li class="list-inline-item">SERVICES</li>
            <li class="list-inline-item">SHOP</li>
            <li class="list-inline-item">CONTACTS</li>
            <li class="list-inline-item">BLOG</li>
            <li class="list-inline-item">PORTFOLIO</li>
            <li class="copyright-notice list-inline-item">© 2018 All Rights Reserved Terms of Use and Privacy Policy</li>
        </ul>
    </div>  
</div>