<nav class="navbar navbar-default header-menu">
  <div class="container-fluid">
    <div class="navbar-header app-title-container">
      {{#link-to "index"}}<b class="app-title">AUCTIONS</b>{{/link-to}}
    </div>
    <ul class="nav navbar-nav menu-items">
      <li>{{#link-to "index"}}<b class="menu-item">HOME</b>{{/link-to}}</li>
      <li>{{#link-to "login"}}<b class="menu-item">LOGIN</b>{{/link-to}}</li>
    </ul>
  </div>
</nav>