<div class="container-fluid product-component-container">
    <img class="product-img" src="https://s3.reutersmedia.net/resources/r/?m=02&d=20110119&t=2&i=310926133&r=2011-01-19T174812Z_01_BTRE70I1DGE00_RTROPTP_0_FRANCE-PICASSO&w=1280" alt="slika">
    <h3 class="product-title">Neka dobra slika</h3>
    <div class="row">
        <div class="col-md-6">
            <h5 class="product-category">
                Category
            </h5>
        </div>
        <div class="col-md-6">
            <h5 class="product-price">
                Price
            </h5>
        </div>
    </div>
    <div class="row">
        <h3 class="col-md-12">
            Rating
        </h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn-success bid-button-product">
                BID NOW
            </button>
        </div>
    </div>
</div>