<div class="container">
    <div class="row">
        SEARCH IN PROGRESS
    </div>
    <div class="row">
        <h1 class="popular-products-title">
            POPULAR PRODUCTS
        </h1>
    </div>
    <div class="row">
        {{#each model.products as |product|}}
            <div class="col-md-4">
                {{product-component product=product}}
            </div>
        {{/each}}
    </div>
    <div class="row">
        <div class="pagination col-md-12">
            {{#each (pagination-array (division-helper model.products.length)) as page}}
                <button class="pagination-button" {{action "switchPage" page}}>
                    {{page}}
                </button>
            {{/each}}
        </div>
    </div>
    <div class="row">
        <h1 class="popular-products-title">
            POPULAR SELLERS
        </h1>
    </div>
</div>
