<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 padding-0">
                    <input class="search-input" type="text">
                </div>
                <div class="col-md-2 padding-0">
                    <div class="sortby">
                        {{#bs-dropdown as |dd|}}
  {{#dd.button class="dropdaun"}}Sort <span class="caret"></span>{{/dd.button}}
  {{#dd.menu as |ddm|}}
      
      {{#ddm.item}} {{input-range}} {{/ddm.item}}
    {{/dd.menu}}
{{/bs-dropdown}}
                    </div>
                </div>
                <div class="col-md-2 padding-0">
                    <div class="sortby">
                        {{#bs-dropdown as |dd|}}
  {{#dd.button class="dropdaun"}}Filter<span class="caret"></span>{{/dd.button}}
  {{#dd.menu as |ddm|}}
      {{#ddm.item}}{{#ddm.link-to "index"}}Something{{/ddm.link-to}}{{/ddm.item}}
      {{#ddm.item}}{{#ddm.link-to "index"}}Something different{{/ddm.link-to}}{{/ddm.item}}
    {{/dd.menu}}
{{/bs-dropdown}}
                    </div>
                </div>
                <div class="col-md-2 padding-0">
                    <div class="search-button-div">
                        <button class="btn-success btn-search">
                            SEARCH
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row">
        <h1 class="popular-products-title">
            POPULAR PRODUCTS
        </h1>
    </div>
    <div class="row">
        {{#each model.products as |product|}}
        <div class="col-md-4">
            {{product-component product=product}}
        </div>
        {{/each}}
    </div>
    <div class="row">
        <div class="pagination col-md-12">
            {{#each (pagination-array (division-helper model.numberOfProducts)) as |page|}}
            <button class="pagination-button" {{action "switchPage" page}}>
                {{page}}
            </button>
            {{/each}}
        </div>
    </div>
    <div class="row">
        <h1 class="popular-products-title">
            POPULAR SELLERS
        </h1>
    </div>
</div>