.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 4em;
    background-color:#332e2e;

}

.list-inline-item{
    color:white;
    font-size: 17px;
    padding-top: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list-inline {
    margin: 1em;
}

.copyright-notice {
    float: right;
    font-size: 15px;
}

